<nav class="navbar-fixed-top">
        
        <div class="headingBar" >
            <div id="headingTop">
                <span class="F-left">
                <a ng-href="#/home"><img class="icon-resize" src="img/left-arrow.png"></a></span>
                <span class="F-center" >Info</span>
                <span class="F-right"><img class="icon-resize" src="img/iconEmpty.png" ></a></span>
            </div>
             
        </div>
</nav>
<div class="empty"><img src="img/empty.png"></div>
<!-- <div><span class="F-left">Help</span><img class="F-right" src="img/right-arrow.png"></div>
<div><span class="F-left">About us</span><img img class="F-right" src="img/right-arrow.png"></div>
 -->


<div style="background:white">
<div class="T-center" style="border-bottom:1px dotted black"><img class="profile_img" src="img/logo.jpg">
    <h3>WearCast</h3>
    <h5>Weather your style</h5>
</div>

<div class="container">
    <h5><b>Why WearCast?</b></h5>
    <p>People have the daily problem to decide what to wear. Unsuitable clothes will ruin your day for being too cold or too hot. So with WearCast, you could find daily outfit inspirations generated according to weather condition.</p>

    <h5><b>Who are we?</b></h5>
    <p>WE ARE a student entrepreneur team from KTH, Sweden. We try to discovere the usage of open data and the potential value behind it. WearCast is the final project built for Business Development Lab course which give us the first entrepreneurship experience.</p>
    <p>Team member:</p>
    <div class="T-center" style="width:45%;display:inline-block;">
        <img class="peopleImg" src="img/Liang.jpg">
        <p><b>Yingjie Liang</b></p>
        <p>Web Developer & UX Designer<p>
    </div>
    <div class="T-center" style="width:45%; display:inline-block;">
        <img class="peopleImg" src="img/Zhang.jpg">
        <p><b>Ziying Zhang</b></p>
        <p>Product Manager & Marketing<p>
    </div>
    <div class="T-center" style="width:45%;display:inline-block;">
        <img class="peopleImg" src="img/Luo.jpg">
        <p><b>Na Luo</b></p>
        <p>Web & Database Engineer<p>
    </div>
    <div class="T-center" style="width:45%;display:inline-block;">
        <img class="peopleImg" src="img/Ma.jpg">
        <p><b>Chengqiu Zhang</b></p>
        <p>Data Analyser & Marketing<p>
    </div>
    <div class="T-center" style="width:45%;display:inline-block;">
        <img class="peopleImg" src="img/Li.jpg">
        <p><b>Wenbo Li</b></p>
        <p>Web Engineer & Marketing<p>
    </div>
    <div class="T-center" style="width:45%;display:inline-block;">
        <img class="peopleImg" src="img/Mut.jpg">
        <p><b>Muntasir Alam</b></p>
        <p>Android Engineer & Marketing<p>
    </div>
</div>
</div>