    <div id="flow_wbox">
        <style>
            .center { text-align: center; }
            .right { text-align: right; }
        </style>
        
        <div class="row-fluid">
            <span>
            <div class="span4"><a href="#/home" style="text-decoration:none">Home</a></div>
            <div class="span4 center"><a href="#/explore" style="text-decoration:none">Explore</a></div>
            <div class="span4 right"><a href="#/profile" style="text-decoration:none">Me</a></div>
            </span>
        </div>
            <!--<div class="col-md-4">
            <a href="#/home" style="text-decoration:none">Home</a>
            </div>
            
            <div class="col-md-4">
            <a href="#/explore" style="text-decoration:none">Explore</a>
            </div>
            
            <div class="col-md-4">
            <a href="#/profile" style="text-decoration:none">Me</a>
            </div>
                      -->
    
    </div>
