<!--page 3 top bar-->
<div class="jumbotron" id="topBar" style="padding:0px;margin:0px;">
    <div id="summaryHeading">
        <div class="table1">
            <div class="tableCell">
                <div class="content" id="totalNum">
                   <h2>My Dinner: {{numberOfGuests}} People.</h2>
                </div>
            </div>
        </div>
        <div class="table2" id="table2">
            <div class="tableCell">
                <div class="content">
                    <a class="btn btn-default" href="#/search"id="editMenu" >Go back and edit menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
