<!doctype html>

<html>
<head>
	<style type="text/css">
#price1{
					position:absolute;
					color:red;
					left:1%;}
					
#price2{
					position:absolute;
					color:red;
					left:30%;}
					
					
#price3{
					position:absolute;
					color:red;
					left:58%;}

#price4{
					position:absolute;
					color:red;
					left:88%;}
	</style>
</head>

<body>


<br/><br/><br/>

<!--<table border="1">-->

<div>
<table border="0" cellspacing="0" align="center">
<tr>
<td>
<img src="sunglass.JPG" height="509"; width="1433"/><br/>
</td>
</tr>
</table>
</div>

<div>

<div>
<table border="0" cellspacing="0" align="center">
<tr>
<td>
<img src="sunglass 1.JPG" height="348"; width="279"/>
<span id="words_inline">Celine</span>
<br/>
<span id="price1">$79</span>

</td>
</div>




<div>
<td>
<img src="sunglass 2.JPG" height="348"; width="279"/>
<span id="words_inline">Testoni</span>
<br/>
<span id="price2">$88</span>
</td>
</div>



<div>
<td>
<img src="sunglass 3.JPG" height="348"; width="279"/>
<span id="words_inline">Prada</span>
<br/>
<span id="price3">$88</span>
</td>
</div>



<div>
<td>
<img src="sunglass 4.JPG" height="348"; width="279"/>
<span id="words_inline">Bvlgari</span>
<br/>
<span id="price4">$99</span>
</td>
</div>
</tr>

</div>
</table>
<br/><br/><br/>






<div>
<table border="0" cellspacing="0" align="center">
<tr>
<td>
<img src="jeans.JPG" height="509"; width="1433"/><br/>
</td>
</tr>
</table>
</div>

<div>

<div>
<table border="0" cellspacing="0" align="center">
<tr>
<td>
<img src="jeans1.JPG" height="348"; width="279"/>
<span id="words_inline">Lee</span>
<br/>
<span id="price1">$298</span>

</td>
</div>




<div>
<td>
<img src="jeans2.JPG" height="348"; width="279"/>
<span id="words_inline">Levis</span>
<br/>
<span id="price2">$169</span>
</td>
</div>



<div>
<td>
<img src="jeans3.JPG" height="348"; width="279"/>
<span id="words_inline">Nudie</span>
<br/>
<span id="price3">$259</span>
</td>
</div>



<div>
<td>
<img src="jeans4.JPG" height="348"; width="279"/>
<span id="words_inline">Acne</span>
<br/>
<span id="price4">$399</span>
</td>
</div>
</tr>







</div>
</table>










<!--03/04/2016-->
</p>
<script type="text/javascript">
    (function(doc, win) {
        var docEl = doc.documentElement;
        (function() {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) {
                return;
            }
            docEl.style.fontSize = 18 * (clientWidth / 320) + 'px';
        }());
    })(document, window);
	</script>
</body>
</html>