<nav class="navbar-fixed-top">
        
        <div class="headingBar" >
            <div id="headingTop">
                <span class="F-left">
                <a ng-href="#/home"><img class="icon-resize" src="img/left-arrow.png"></a></span>
                <span class="F-center" >Casual</span>
                <span class="F-right"><img class="icon-resize" src="img/iconEmpty.png" ></a></span>
            </div>          
        </div>
</nav>
<div class="empty"><img src="img/empty.png"></div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class=" card_view1">
        <a data-toggle="collapse" data-parent="#accordion"  data-target="#collapse1">
        <img src="img/sub12.jpg" class="card_img">  
        </a>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body card_view1 T-center">	
	      <a ng-href="#/detail/511520118"><div class="Fifth card_item"><img src="img/s1.png" class="card_img">
		      <div>
		      <span >Quay Kosha</span>
		      <span class="Color-red">$50</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/507006105"><div class="Fifth card_item"><img src="img/s2.png" class="card_img">
		      <div>
		      <span >Metal Round</span>
		      <span class="Color-red">$23</span>
	      	  </div>				     
	      </div></a>	
	     <a ng-href="#/detail/487424242"><div class="Fifth card_item"><img src="img/s3.png" class="card_img">
		      <div>
		      <span >Dior Women</span>
		      <span class="Color-red">$620</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/455785534"><div class="Fifth card_item"><img src="img/s4.png" class="card_img">
		      <div>
		      <span >Ray-Ban</span>
		      <span class="Color-red">$150</span>
	      	  </div>				     
	      </div></a>		
	      <a ng-href="#/search/'sunglasses'"><div class="Fifth card_item"><img src="img/more.jpg" class="card_img">
		      <div>
		      <span > more </span>
		      <span class="Color-red"> sunglasses</span>
	      	  </div>				     
	      </div></a>						      
      </div>
    </div>
  </div>


			


  <div class="panel panel-default">
    <div class="panel-heading card_view1">
        <a data-toggle="collapse" data-parent="#accordion"   data-target="#collapse2">
        <img src="img/sub2.jpg" class="card_img">  
        </a>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body card_view1 T-center">
	      <a ng-href="#/detail/505618581"><div class="Fifth card_item"><img src="img/t1.png" class="card_img">
		      <div>
		      <span >G.H. Bass Co. </span>
		      <span class="Color-red">$69</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/503548799"><div class="Fifth card_item"><img src="img/t2.png" class="card_img">
		      <div>
		      <span >Alf Ribbed</span>
		      <span class="Color-red">$59.5</span>
	      	  </div>				     
	      </div></a>	
	     <a ng-href="#/detail/508262767"><div class="Fifth card_item"><img src="img/t3.png" class="card_img">
		      <div>
		      <span >INC Inter</span>
		      <span class="Color-red">$69.5</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/496413265"><div class="Fifth card_item"><img src="img/t4.png" class="card_img">
		      <div>
		      <span >M Jules</span>
		      <span class="Color-red">$34.5</span>
	      	  </div>				     
	      </div></a>	
	      <a ng-href="#/search/crewneck"><div class="Fifth card_item"><img src="img/more.jpg" class="card_img">
		      <div>
		      <span > more </span>
		      <span class="Color-red"> crewneck </span>
	      	  </div>				     
	      </div></a>					      
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading card_view1">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
        <img src="img/sub4.jpg" class="card_img">  
        </a>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body card_view1 T-center">
	       <a ng-href="#/detail/506001166"><div class="Fifth card_item"><img src="img/c1.png" class="card_img">
		      <div>
		      <span >L Ralph</span>
		      <span class="Color-red">$200</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/492673198"><div class="Fifth card_item"><img src="img/c2.png" class="card_img">
		      <div>
		      <span >T Marla</span>
		      <span class="Color-red">$195</span>
	      	  </div>				     
	      </div></a>	
	     <a ng-href="#/detail/506758827"><div class="Fifth card_item"><img src="img/c3.png" class="card_img">
		      <div>
		      <span >L Twill</span>
		      <span class="Color-red">$160</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/489161156"><div class="Fifth card_item"><img src="img/c4.png" class="card_img">
		      <div>
		      <span >E Fisher</span>
		      <span class="Color-red">$648</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/search/coat"><div class="Fifth card_item"><img src="img/more.jpg" class="card_img">
		      <div>
		      <span > more</span>
		      <span class="Color-red"> coat</span>
	      	  </div>				     
	      </div></a>				      
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading card_view1">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
        <img src="img/sub3.jpg" class="card_img">  
        </a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body card_view1 T-center">
	      <a ng-href="#/detail/430808331"><div class="Fifth card_item"><img src="img/l1.png" class="card_img">
		      <div>
		      <span >Blank Denim
 </span>
		      <span class="Color-red">$98</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/432620313"><div class="Fifth card_item"><img src="img/l2.png" class="card_img">
		      <div>
		      <span >Scuba</span>
		      <span class="Color-red">$49.9</span>
	      	  </div>				     
	      </div></a>	
	     <a ng-href="#/detail/508788634"><div class="Fifth card_item"><img src="img/l3.png" class="card_img">
		      <div>
		      <span >Zara Terez
</span>
		      <span class="Color-red">$73</span>
	      	  </div>				     
	      </div></a>
	      <a ng-href="#/detail/516807939"><div class="Fifth card_item"><img src="img/l4.png" class="card_img">
		      <div>
		      <span >OutVoices
</span>
		      <span class="Color-red">$95</span>
	      	  </div>				     
	      </div></a>	
	      <a ng-href="#/search/legging"><div class="Fifth card_item"><img src="img/more.jpg" class="card_img">
		      <div>
		      <span > more </span>
		      <span class="Color-red">legging </span>
	      	  </div>				     
	      </div></a>				      
      </div>
    </div>
  </div>

</div>
