<div class="statusBar"> <img src="../img/default.png" width="100%"></div>
<div data-role="header">
    
    <a href="#/search" style="text-decoration:none"><img class="ui-btn-left resizeImg" src="../img/left-arrow.png"></a>
            
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <img class="detailImg" ng-src="{{cloth.image.sizes.Original.url}}"/>
    </div>
    <div class="panel-footer">
        <h4 class="panel-title">{{cloth.name}} &nbsp; &nbsp; &nbsp; {{cloth.priceLabel}}</h4>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <a style="text-decoration:none" ng-click="setLike_amt()"><img class="sign_img2" src="../img/like.png"></img></a>
        <span class="like">{{like_amt}} likes&nbsp;</span>
        <span>
        <a href="#" style="text-decoration:none"><img class="sign_img2" src="../img/facebook.png"></img></a>
        <a href="#" style="text-decoration:none"><img class="sign_img2" src="../img/weichat.png"></img></a></span>
        <span align="right"><button class="btn btn-default">Buy it</button></span>        
    </div>     
</div>

{{cloth.description}}