
    <nav class="navbar-fixed-top">
        <div class="statusBat"> </div>
        <div class="headingBar" >
            <div id="headingTop">
                <span class="F-left"><a ng-href="#/sidebar"><img class="icon-resize" src="../img/list.png"></a></span>
                <span class="F-center" >Name</span>
                <span class="F-right"><a ng-href="#/search"><img class="icon-resize" src="../img/search.png" ></a></span>
            </div>
             
        </div>
    </nav>
    <nav class="navbar-fixed-bottom">
        <div class="hover-div">
            <div class="T-center brief"><img ng-src="{{iconToday}}">{{description}}</div>

            <div style="height: 20px;">

                <div class="Sixth"></div><div class="Sixth"><img class="F-right" src="img/highTemp.png"></div><div class="Sixth">{{maxTempToday}}</div><div class="Sixth"><img class="F-right" src="img/lowTemp.png"></div><div class="Sixth">{{minTempToday}}</div><div class="Sixth"></div>
            </div>

            <div class="T-center big-temp" id="generW" ng-click="weatherDetail()">
                {{temperature}}<span style="font-size: 100px;vertical-align: super;">°</span>
            </div>

            <div class="T-center" id="detailW" ng-click="weatherGener()" style="display:none">
                <div style="height: 229px;">
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/humidity.png">{{humToday}}%
                        </div>
                        <div>
                        <img style="margin-top: 20px" src="img/preProb.png">{{precToday}}%
                        </div>
                    </div>
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/windSpeed.png">{{humToday}}%</div>
                        <div>
                        <img style="margin-top: 20px"src="img/visibility.png">{{visToday}}.0</div>
                    </div>
                </div>
            </div>

            <div class="T-center" id="toTmr" style="display:none">
                <div style="height: 229px;">
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/humidity.png">{{humTmr}}%
                        </div>
                        <div>
                        <img style="margin-top: 20px" src="img/preProb.png">{{precTmr}}%
                        </div>
                    </div>
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/windSpeed.png">{{humTmr}}%</div>
                        <div>
                        <img style="margin-top: 20px"src="img/visibility.png">{{visTmr}}.0</div>
                    </div>
                </div>
            </div>

            <div class="T-center" id="toAft" style="display:none">
                <div style="height: 229px;">
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/humidity.png">{{humAft}}%
                        </div>
                        <div>
                        <img style="margin-top: 20px" src="img/preProb.png">{{precAft}}%
                        </div>
                    </div>
                    <div class="Half T-left" >
                        <div style="padding-top: 50px;">
                        <img src="img/windSpeed.png">{{humAft}}%</div>
                        <div>
                        <img style="margin-top: 20px"src="img/visibility.png">{{visAft}}.0</div>
                    </div>
                </div>
            </div>


            <div class="Location"><div class="T-center"><img src="../img/location.png">{{location}}</div></div>

            <div class="Forecast">
                
                <div class="Third" ng-click="toToday()">
                    <div>
                        <div>{{dateToday}}</div>
                        <div><img class="weatherIcon" ng-src="{{iconToday}}"></div>
                        <div class="Half T-right">{{maxTempToday}}°</div>
                        <div class="Half T-left">{{minTempToday}}°</div>
                    </div>
                </div>
                <div class="Third" ng-click="toTmr()">
                    <div>
                        <div>{{dateTmr}}</div>
                        <div><img class="weatherIcon" ng-src="{{iconTmr}}"></div>
                        <div class="Half T-right">{{maxTempTmr}}°</div>
                        <div class="Half T-left">{{minTempTmr}}°</div>
                    </div>
                </div>
                <div class="Third" ng-click="toAft()">
                    <div>
                        <div>{{dateAft}}</div>
                        <div><img class="weatherIcon" ng-src="{{iconAft}}"></div>
                        <div class="Half T-right">{{maxTempAft}}°</div>
                        <div class="Half T-left">{{minTempAft}}°</div>
                    </div>
                </div>
            </div>

            <div>
                <div class="Third2"><img id="todaySelected" src="../img/bottomSelected.png"></div>
                <div class="Third2"><img style="display: none"id="tmrSelected" src="../img/bottomSelected.png"></div>
                <div class="Third2"><img style="display: none"id="aftSelected" src="../img/bottomSelected.png"></div>
            </div>

        </div>
    </nav>
    <nav class="navbar-fixed-bottom T-right">
        <div class="hover-left">
            <div>Casual<img src="../img/selected.png"></div>
            <div ><img class="T-right" src="../img/line.png"></div>
            <div>Outdoor<img src="../img/ring.png"></div>
            <div ><img class="T-right" src="../img/line.png"></div>
            <div>Office<img src="../img/ring.png"></div>
            <div ><img class="T-right" src="../img/line.png"></div>
            <div>Fashion<img src="../img/ring.png"></div>

        </div>
    </nav>
    <div class="empty"></div>
    
    <div class="page-start" id="CasualG">
        <img class="background-resize"src="../img/fashion1.jpg">
    </div>
    <div class="page-start" id="OutdoorG">
        <img class="background-resize"src="../img/fashion2.jpg">
    </div>
    <div class="page-start" id="OfficeG">
        <img class="background-resize"src="../img/fashion3.jpg">
    </div>
    <div class="page-start" id="FashionG">
        <img class="background-resize"src="../img/fashion4.jpg">
    </div>
