<div id="clothesListView" class="list-view" >
    <div class="col-xs-6 col-md-3 list-view-item" ng-repeat="cloth in likedOutfit">
        <!-- <a class="thumbnail cloth-preview" ng-href="#/detail/{{cloth.id}}">
            <div class="cover">
                <div class="table">
                <div class="table-cell">
                    <img class="resizeItemImg"  ng-src="{{cloth.image.sizes.Original.url}}"/>
                    <div class="likedHeart">
                        <img class="resizeHeartImg" ng-hide="likedInfo" src="img/unlikeHeart.png">
                        
                    </div>
                </div>
                </div>
            </div>
            <div class="caption">
                <span class="panel-title NameHalf">{{cloth.name}}</span>    
                <span class="panel-title PriceHalf">{{cloth.priceLabel}}</span>                                 
            </div>

        </a>         -->                                
    </div>                   
</div>