<!doctype html>

<html>
<head>
	<style type="text/css">

	</style>
</head>

<body>
<!--Author: Chengqiu-->

<br/><br/><br/>

<!--<table border="1">-->
<table border="2" cellspacing="3" align="center">
<tr>
<td>
<img src="like.png" height="70"/><br/>
<a href="newknowledge.html"><img src="item6.jpg" width="470"/></a>

</td>
<td>
<div style z-index="1"> <img src="like.png" height="70" ></div>
<a href="newnewpage.html"><img src="item5.jpg" width="470" z-index="-1"/></a></td>
</tr>
<tr>
<td>
<img src="like.png" height="70"/><br/>
<img src="item4.jpg" width="470"/></td>
<td><img src="like.png" height="70"/><br/>
<img src="item3.jpg" width="470"/></td>
</tr>
<tr>
<td>
<img src="like.png" height="70"/><br/>
<a href="soudo.html"><img src="item2.jpg" width="470"/></a></td>
<td>
<img src="like.png" height="70"/><br/>
<a href="soudo.html"><img src="item1.jpg" width="470"/></a></td>
</tr>
</table>

<!--03/04/2016-->
</p>
<script type="text/javascript">
    (function(doc, win) {
        var docEl = doc.documentElement;
        (function() {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) {
                return;
            }
            docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        }());
    })(document, window);
	</script>
</body>
</html>
