<ng-include src="'partials/topbar.html'" ng-controller="TopbarCtrl"></ng-include>

<!--   page 3.2 DinnerPreparation-->
<div class="container" id="dinnerPreparation">
    <div id="dinnerPre" ng-repeat="item in menuDish">
        <div class='row padding' >
        	<div class='col-md-2'><img class='borderAll' ng-src='{{item.ImageURL}}'></div>
        	<div class='col-md-4'>
        		<h2>{{item.Title}}</h2>
        		<p>{{item.Description}}</p>
        	</div>
        	<div class='col-md-6'>
        		<h4>Preparation</h4>
        		<p>{{item.Instructions}}</p>
        	</div>
        </div>
    </div>
</div>   