<div>
    <div class="statusBar"> <img src="../img/default.png" width="100%"></div>
    <!--<div class="panel panel-default">
        <div class="panel-heading">-->
        <div data-role="header" class="row">
        <img class="ui-btn-left resizeImg" src="../img/left-arrow.png"><span>
        <h4 align="center">More items</h4>
        <!--<div class="ui-btn ui-btn-right "> 
            <img class="resizeImg" src="../img/female.png" >
            <img class="resizeImg" src="../img/male.png" >
        </div>-->
        </span> 
        </div>             
    

    <!--<div id="searchArea" class="panel-body">-->
        <!--<input type="search" name="search" id="search" placeholder="Search for content...">-->
        
        <div class="input-group">
            <input ng-model="keywords" type="text" class="form-control" placeholder="Enter keywords here"/>
            <div class="input-group-btn">
                <!--<div class="dropdown" id="dropdown1">-->
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Clothing<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><button type="button" class="btn btn-link" ng-click="getClothing()">Clothing</a></li>
                        <li><button type="button" class="btn btn-link" ng-click="getAccessories()">Accessories</a></li>
                        <li><button type="button" class="btn btn-link" ng-click="getShoes()">Shoes</a></li>
                    </ul>
                <!--</div>-->
                <button class="btn btn-primary" ng-click="search(keywords)"><div class="glyphicon glyphicon-search"></div></button>
            </div>
            <!--<div class="input-group-btn">
                <div class="dropdown" id="dropdown3">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Jeans<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><button type="button" class="btn btn-link" ng-click="search(jeans)">Jeans</a></li>
                        <li><button type="button" class="btn btn-link" ng-click="search(coat)">Coat</a></li>
                        <li><button type="button" class="btn btn-link" ng-click="search(jacket)">Jacket</a></li>
                    </ul>
                </div>
            </div>                                            -->
        </div>  
 
   <!--<span>
    <div class="dropdown" id="dropdown2">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Clothing<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><button type="button" class="btn btn-link" ng-click="search(clothing)">Jeans</a></li>
            <li><button type="button" class="btn btn-link" ng-click="search(accessories)">Coat</a></li>
            <li><button type="button" class="btn btn-link" ng-click="search(shoes)">Jacket</a></li>
        </ul>
    </div>
    </span>-->

    
    <p>&nbsp;</p>
                            
    <div class="row">
        <div id="clothesListView" class="list-view" >									                                                                            
                <div class="col-xs-6 col-md-3 list-view-item" ng-repeat="cloth in clothes">
                <a class="thumbnail cloth-preview" ng-href="#/detail/{{cloth.id}}">
                    <div class="cover">
                        <img class="resizeItemImg"  ng-src="{{cloth.image.sizes.Original.url}}"/>
                        <div class="likedHeart">
                            <img class="resizeHeartImg"src="../img/heart.jpg">
                        </div>
                    </div>
                    <div class="caption">
                        <h4 class="panel-title">{{cloth.name}}</h4>	
                        <h4 class="panel-title">{{cloth.priceLabel}}</h4>			                                 
                    </div>
                </a>                                        
            </div>                                    
        </div>                
    </div>
    
    
    
    
    <!--<div class="ui-grid-a">
        <div class="ui-block-a">
            <div class="floatBox" ng-repeat="cloth in clothes">
                <img class="resizeItemImg" ng-src="{{cloth.image.sizes.Original.url}}">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price: {{cloth.priceLabel}}</div>
                <div class="itemName">Name: {{cloth.name}}</div>

            </div>
        </div>
    </div>-->
    
    
    <!--<div class="ui-grid-a">
        <div class="ui-block-a">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>
        <div class="ui-block-b">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>
        <div class="ui-block-a">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>
        <div class="ui-block-b">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>
        <div class="ui-block-a">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>
        <div class="ui-block-b">
            <div class="floatBox">
                <img class="resizeItemImg" src="../img/boot.jpeg">
                <div class="likedHeart">
                    <img class="resizeHeartImg"src="../img/heart.jpg">
                </div>
                <div class="itemPrice">Price:  kr</div>
                <div class="itemName">Name:</div>

            </div>
        </div>-->

        
    </div>