
<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<style type="text/css">
    body{
        background: #f4f4f4;
        margin: 0px;
        width: 100%;
    }
    p{
        font-family: Helvetica;
        margin: 10px;
    }
    .statusBat{
        height: 40px;
        background-image: url("../img/default.png");
        background-size: cover;
    }
    .headingBar{
        display: table;
        height:88px;
        width: 100%;
        background-color: rgba(240,240,240,0.9);
        
        box-shadow: 0px 2px 1px #888888;

    }
    #headingTop{
        display: table-cell;
        font-size: 34px;
        text-align: center;
        vertical-align: middle;
    }
    .idImg{
        height: 400px;
        width: 100%;
    }

    .subHeading{
    
        font-size: 34px;
        /*box-shadow: 0px 2px 5px #aaaaaa;*/
        margin-bottom:25px; 
        margin-top:10px; 

    }
    .subHeadingLine{
        display: table;
        
        height: 60px;
        width: 100%;
        background: #D8D8D8;
    }

    .subHeadingLine p{
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
    }
    .subHeading img{
        width: 100%;
        border-bottom: 1px solid black;

    }
    table{
        width: 100%;
        text-align: center;
        font-size: 28px;
       
    }
    td{
        padding: 10px;
        
        
    }
    .borderAll{
        border: 1px solid black;
        /*box-shadow: 0px 1px 3px #888888;*/
    }
    .v-middle{
        vertical-align: middle;
    }
    .t-middle{
        text-align: center;
    }
</style>
<div>
    <div class="statusBat"> </div>
    <div class="headingBar" >
        <p id="headingTop">Explore</p>
      
    </div>
    <div>
        <img class="idImg" src="../img/ad.jpg">

    </div>
    <div class="subHeading">
        <div class="subHeadingLine">
            <p>More categories for this weather</p>
        </div>
        <div  class="t-middle">
            <table>
                <tr>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>
    <div class="subHeading">
        <div class="subHeadingLine">
            <p>More categories for this weather</p>
        </div>
        <div  class="t-middle">
            <table>
                <tr>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                    <td>
                       <div class="borderAll">
                            <div>
                                <img src="../img/boot.jpeg">
                            </div>
                            <div>
                                <p>Boots</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        
    </div>
    
</div>
<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/bottombar.html'" ng-controller="BottomBarCtrl" ></ng-include>
